<?php
/**
 * Magecom
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magecom.net so we can send you a copy immediately.
 *
 * @category    Design
 * @package     Magecom_Package
 * @copyright Copyright (c) 2017 Magecom, Inc. (http://www.magecom.net)
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 
 /** @var  Magecom_Module_Block_Items */
?>

<?php $items = $this->getItemsCollection(); ?>
<?php if ($items): ?>
    <h2><?php echo __('Custom items list'); ?></h2>
    <div class="items-list">
        <table class="data table table-items" id="magecom-items-table">
            <thead>
                <tr>
                    <th scope="col" class="col id"><?php echo __('Id') ?></th>
                    <th scope="col" class="col title"><?php echo __('Title') ?></th>
                    <th scope="col" class="col createion"><?php echo __('Creation Time') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($items as $item): ?>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Id')) ?>" class="col id"><?php echo $item->getId(); ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Title'))?>"><?php echo $item->getTitle(); ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Created')) ?>" class="col date"><?php echo $block->dateFormat($item->getCreationTime()); ?></td>
                    </tr>
                <?php endforeach; ?>
        </table>
    </div>
    <div>
        <p><?php echo sprintf("We have %s items", $items->count()); ?></p>
    </div>
<?php else: ?>
    <p><?php echo __("We have not any items. Sorry."); ?> </p>
<?php endif; ?>