<?php
/**
 * Magecom
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magecom.net so we can send you a copy immediately.
 *
 * @category    Design
 * @package     Magecom_Package
 * @copyright Copyright (c) 2017 Magecom, Inc. (http://www.magecom.net)
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 
 /** @var  Magecom_Module_Block_View */
?>
<h2>Links to other actions</h2>
<ol>
    <li><a href="<?php echo $block->getUrl('learning/index/index');?>" >Link to index/index action</a></li>
    <li>Active url index/base</li>
    <li><a href="<?php echo $block->getUrl('learning/front/index');?>" >Link to front/index action</a></li>
    <li><a href="<?php echo $block->getUrl('learning/front/base');?>" >Link to front/base action</a></li>
</ol>