.admin__menu {
  #menu-magecom-learning-learning {
    &>a {
      &:before {
        content: url(Magecom_Learning::images/m_icon_adminka.svg);
      }
      &:hover:before{
        content: url(Magecom_Learning::images/m_icon_adminka_hover.svg);
      }
    }
    &._active {
      &>a {
        &:before{
          content: url(Magecom_Learning::images/m_icon_adminka_hover.svg);
        }
      }
    }
  }
}